* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--black-color);
}

button {
  cursor: pointer;
}

button:focus,
button:hover {
  opacity: 0.85;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all;
}
